Tugas 6 (2) AI Keuangan.json
{
  "name": "Tugas 6 (2) AI Keuangan",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "83bfb60b-98d0-4626-8532-1eb07f93e7e2",
              "leftValue": "={{ $node[\"Filter 7 Hari & Format Teks\"].json.hasExpenses }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        256
      ],
      "id": "41403191-03c4-4a55-a20f-8af0ca24c1d5",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e568de95-dc2b-4185-b1ce-d58961df147b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ok7plSrqd7SF7ZvN",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -832,
        256
      ],
      "id": "e27b5cd4-67cd-4262-bb89-1dcc35f2d032",
      "name": "Setiap Hari Minggu"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "12EF0kOY8TZMY37C6-55GG9AF_ayAe83p61-_kqgk34M",
          "mode": "list",
          "cachedResultName": "Data Dummy Catatan Keuangan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12EF0kOY8TZMY37C6-55GG9AF_ayAe83p61-_kqgk34M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12EF0kOY8TZMY37C6-55GG9AF_ayAe83p61-_kqgk34M/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -624,
        256
      ],
      "id": "ddaa0090-1789-4430-b1bc-3a6c3777a366",
      "name": "Ambil Log Pengeluaran",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KTKIZdg0eKkoX2dY",
          "name": "Google Sheets account 6"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst today = new Date();\ntoday.setHours(23, 59, 59, 999); // inklusif hari ini sampai akhir hari\n\nconst sevenDaysAgo = new Date();\nsevenDaysAgo.setDate(today.getDate() - 7);\nsevenDaysAgo.setHours(0, 0, 0, 0);\n\nlet weeklyExpenses = [];\nlet formattedString = \"Data pengeluaran saya minggu ini:\\n\";\nlet hasExpenses = false;\n\nfor (const item of items) {\n  const rawTanggal = item.json.Tanggal; // format: \"13/04/2026\"\n  \n  // Parse manual DD/MM/YYYY → YYYY-MM-DD agar valid di semua engine\n  const [day, month, year] = rawTanggal.split(\"/\");\n  const expenseDate = new Date(`${year}-${month}-${day}`);\n\n  if (expenseDate >= sevenDaysAgo && expenseDate <= today) {\n    weeklyExpenses.push(item.json);\n    formattedString += `- ${item.json.Deskripsi}: Rp${item.json[\"Jumlah (IDR)\"]}\\n`;\n    hasExpenses = true;\n  }\n}\n\nreturn [{\n  json: {\n    promptData: formattedString,\n    hasExpenses: hasExpenses\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        256
      ],
      "id": "e6e9a0bf-9d64-4d88-b21c-31f6b7c708f2",
      "name": "Filter 7 Hari & Format Teks"
    },
    {
      "parameters": {
        "chatId": "1766066504",
        "text": "Tidak ditemukan log pengeluaran untuk 7 hari terakhir.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        352
      ],
      "id": "83961227-a3bd-41db-9a04-9ddbb1d2ad18",
      "name": "Pesan False",
      "webhookId": "4d4c5ea2-c6cc-469f-be56-3af2c698e477",
      "credentials": {
        "telegramApi": {
          "id": "UahRyZFBsiy5bt2B",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $node[\"Filter 7 Hari & Format Teks\"].json.promptData }} (Notes: sesuaikan dengan nama nodes kalian).\n\n---\nInstruksi: \"Tulis ringkasan kebiasaan belanja saya minggu ini dan beri 1 saran penghematan.\"",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        0,
        160
      ],
      "id": "eef7a933-d542-4d80-a42c-bdb2693d698a",
      "name": "Analisis"
    },
    {
      "parameters": {
        "chatId": "1766066504",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        320,
        160
      ],
      "id": "5608d830-529e-40c3-aa05-21a6a5776b7b",
      "name": "Pesan True",
      "webhookId": "4d4c5ea2-c6cc-469f-be56-3af2c698e477",
      "credentials": {
        "telegramApi": {
          "id": "UahRyZFBsiy5bt2B",
          "name": "Telegram account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Analisis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pesan False",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analisis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Setiap Hari Minggu": {
      "main": [
        [
          {
            "node": "Ambil Log Pengeluaran",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ambil Log Pengeluaran": {
      "main": [
        [
          {
            "node": "Filter 7 Hari & Format Teks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter 7 Hari & Format Teks": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analisis": {
      "main": [
        [
          {
            "node": "Pesan True",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "139539d0-b922-4d28-8327-704675b60674",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cdda6c5a178fd429ae4e8a2b8a0fde1535e9d34e75c3c9330c0155f848e4432c"
  },
  "id": "vNuBFBoqgYDfc8BA",
  "tags": []
}