tugas 1 Ai Keuangan (2).json
{
  "name": "tugas 1 Ai Keuangan",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Pembuatan Invoice Otomatis",
        "formDescription": "Silakan isi data untuk membuat invoice",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nama Klien",
              "requiredField": true
            },
            {
              "fieldLabel": "Jam Kerja",
              "requiredField": true
            },
            {
              "fieldLabel": "Rate",
              "fieldName": "Rate",
              "requiredField": true
            },
            {
              "fieldLabel": "Email Klien",
              "fieldType": "email",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "name": "On form submission1",
      "id": "09b4ac15-a4c3-4391-a73e-02e7d1956b15",
      "webhookId": "07bcf7cd-cb97-4ad6-a6a7-18a43dcaac41"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a288f1d9-fd11-4072-872d-54f3688f1d28",
              "name": "Total Biaya",
              "value": "={{ (Number($json[\"Jam Kerja\"]) * Number($json[\"Rate\"].replace(/\\./g, \"\"))).toLocaleString(\"id-ID\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "name": "Edit Fields",
      "id": "135d7ea2-fd79-4151-ad1f-3c9820135a96"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"id\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Invoice</title>\n  <style>\n    body { font-family: Arial, sans-serif; background: #f4f6f8; padding: 40px; color: #333; }\n    .invoice-wrapper { max-width: 800px; margin: auto; background: #fff; border-radius: 8px; padding: 40px; box-shadow: 0 4px 12px rgba(0,0,0,0.08); }\n    .invoice-header { display: flex; justify-content: space-between; align-items: center; border-bottom: 2px solid #eaeaea; padding-bottom: 20px; margin-bottom: 30px; }\n    .section { margin-bottom: 30px; }\n    .section-title { font-size: 14px; font-weight: bold; color: #6b7280; text-transform: uppercase; margin-bottom: 8px; }\n    table { width: 100%; border-collapse: collapse; }\n    table th { background: #f9fafb; border-bottom: 2px solid #e5e7eb; padding: 12px; text-align: left; }\n    table td { padding: 12px; border-bottom: 1px solid #e5e7eb; }\n    .total-box { margin-top: 30px; text-align: right; }\n  </style>\n</head>\n<body>\n  <div class=\"invoice-wrapper\">\n    <div class=\"invoice-header\">\n      <h1>INVOICE</h1>\n      <div>\n        <div>Tanggal: {{ $now.format('dd/MM/yyyy') }}</div>\n        <div>Invoice #: INV-{{ $execution.id }}</div>\n      </div>\n    </div>\n    <div class=\"section\">\n      <div class=\"section-title\">Ditagihkan Kepada</div>\n      <p><strong>{{ $('On form submission1').item.json['Nama Klien'] }}</strong></p>\n      <p>{{ $('On form submission1').item.json['Email Klien'] }}</p>\n    </div>\n    <div class=\"section\">\n      <table>\n        <thead>\n          <tr>\n            <th>Deskripsi</th>\n            <th>Jam</th>\n            <th>Rate</th>\n            <th>Subtotal</th>\n          </tr>\n        </thead>\n        <tbody>\n          <tr>\n            <td>Jasa Pekerjaan / Konsultasi</td>\n            <td>{{ $('On form submission1').item.json['Jam Kerja'] }}</td>\n            <td>{{ $('On form submission1').item.json['Rate'] }}</td>\n            <td>Rp {{ $json['Total Biaya'] }}</td>\n          </tr>\n        </tbody>\n      </table>\n    </div>\n    <div class=\"total-box\">\n      <strong>Total Tagihan: Rp {{ $json['Total Biaya'] }}</strong>\n    </div>\n  </div>\n</body>\n</html>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        432,
        0
      ],
      "name": "HTML",
      "id": "6b7da09a-e245-4ff3-b189-8463049bb9ae"
    },
    {
      "parameters": {
        "html_content": "={{ $json.html }}"
      },
      "type": "n8n-nodes-htmlcsstopdf.htmlcsstopdf",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "name": "Convert HTML to PDF1",
      "id": "5bd640b1-eaa9-4c0d-9d84-3bd0770469be",
      "credentials": {
        "htmlcsstopdfApi": {
          "id": "v8snyTcTke0sbY0K",
          "name": "HTML to PDF account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.pdf_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        0
      ],
      "name": "HTTP Request1",
      "id": "926f0e15-65c3-47eb-8171-62e6689aa7fd"
    },
    {
      "parameters": {
        "sendTo": "=={{ $node[\"On form submission1\"].json[\"Email Klien\"] }}",
        "subject": "=={{ \"Invoice dari Vedera Company untuk \" + $node[\"On form submission1\"].json[\"Nama Klien\"] }}",
        "message": "=<p>Yth. <strong>{{ $('On form submission1').item.json['Nama Klien'] }}</strong>,</p>\n<p>Terima kasih atas kepercayaan Anda. Berikut adalah ringkasan tagihan Anda:</p>\n<ul>\n    <li><strong>Total Jam Kerja:</strong> {{ $('On form submission1').item.json['Jam Kerja'] }} jam</li>\n    <li><strong>Total Tagihan:</strong> Rp {{ $('Edit Fields').item.json['Total Biaya'] }}</li>\n</ul>\n<p>Detail lengkap silakan cek file PDF terlampir.</p>",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1040,
        0
      ],
      "name": "Send a message1",
      "id": "97f0a54d-eea7-41e8-a260-629c7d5b108d",
      "webhookId": "0b1e0d78-312a-4828-bb35-4c4d4a74736a",
      "credentials": {
        "gmailOAuth2": {
          "id": "ICoKI6xntVwG97Rh",
          "name": "Gmail account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Convert HTML to PDF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert HTML to PDF1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "12813c1d-521c-4128-ae70-eb0511fcef98",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cdda6c5a178fd429ae4e8a2b8a0fde1535e9d34e75c3c9330c0155f848e4432c"
  },
  "id": "qPaGLJSKLRQdeGjm",
  "tags": []
}