tugas 2 AI Keuangan (1).json
{
  "name": "tugas 2 AI Keuangan",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        -432,
        160
      ],
      "id": "9c864a92-d405-4d8d-b129-173868719500",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": {
          "id": "5P68XwKOKakMqyRo",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json[\"from\"]}}",
                    "rightValue": "gavigilang23@gmail.com",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "95503e69-026f-4a81-a643-2062b6474a6a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IDCloudHost"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "080db788-bb50-462f-b292-df82d993379f",
                    "leftValue": "={{$json[\"from\"]}}",
                    "rightValue": "gila23243si@student.nurulfikri.ac.id",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Grab"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "87e9a6ce-9f28-4171-b346-aeb218f66fa2",
                    "leftValue": "={{$json[\"from\"]}}",
                    "rightValue": "nordrules12@gmail.com",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tokopedia"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -208,
        144
      ],
      "id": "f55e7dba-e722-4c09-bb5d-5d5cd7563fa4",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "68378757-6954-4af2-b2aa-07819e503e92",
              "name": "Tanggal",
              "value": "={{$json[\"date\"]}}",
              "type": "string"
            },
            {
              "id": "c6169f6c-d93b-4de3-af24-ecbc57f29300",
              "name": "Jumlah",
              "value": "={{ \n  (\n    ($json[\"textPlain\"] || \"\").match(/Rp\\s?([\\d\\.,]+)/)?.[1]\n    || ($json[\"textPlain\"] || \"\").match(/(\\d{4,6})/)?.[1]\n  )\n  ?.replace(/\\./g, '')\n  ?.replace(/,/g, '')\n  || 0\n}}",
              "type": "string"
            },
            {
              "id": "edc3bc06-7dfe-4064-b622-8989885e2889",
              "name": "Nominal",
              "value": "Cloud ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "145f635b-85f1-400a-b48d-d904671bea62",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e3c94e99-5341-4a06-a0c1-4631c01f9a11",
              "name": "Tanggal",
              "value": "={{$json[\"date\"]}}",
              "type": "string"
            },
            {
              "id": "d5407406-9669-4d81-91c8-74012848a858",
              "name": "Jumlah",
              "value": "={{$json[\"textPlain\"].match(/Total.*?([\\d\\.]+)/s)?.[1]?.replace(/\\./g, '') || 0}}",
              "type": "string"
            },
            {
              "id": "7a5ca7fe-20b4-469c-9da1-e63458904ced",
              "name": "Nominal",
              "value": "Grab",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        160
      ],
      "id": "44c039ba-2e8c-48e5-a024-f95ba053fc4f",
      "name": "Grab"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7a3c515b-5c15-4a15-9ec8-ce265f58bd7a",
              "name": "Tanggal",
              "value": "={{$json[\"date\"]}}",
              "type": "string"
            },
            {
              "id": "4a3b76e2-5c02-4a8a-94dd-6be9fc9227a0",
              "name": "Jumlah",
              "value": "={{$json[\"textPlain\"].match(/Harga\\s*Rp([\\d\\.]+)/)?.[1]?.replace(/\\./g, '') || 0}}",
              "type": "string"
            },
            {
              "id": "d6677992-c6eb-4093-afca-1dd5e65c9f76",
              "name": "Nominal",
              "value": "={{$json[\"textPlain\"].match(/Nominal\\s*(.*?)\\s*Waktu/s)?.[1]?.trim() || \"Produk\"}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        336
      ],
      "id": "df988593-f383-4791-b2cd-e8dacbbc5a9b",
      "name": "Tokopedia"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        272,
        144
      ],
      "id": "32b483cf-d8cc-4799-bf3c-0ab2bd82b915",
      "name": "Merge",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1peexh7nrgLN7bqt12gIovFWy-1ic6zIsQzqYiH9PT8Q",
          "mode": "list",
          "cachedResultName": " keuangan Email",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1peexh7nrgLN7bqt12gIovFWy-1ic6zIsQzqYiH9PT8Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16NZs-9L4T2Y5UNAQ37IyaBoMI4nYUmEXI6-SgThs9PI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tanggal": "={{$json[\"Tanggal\"]}}",
            "Produk": "={{$json[\"Nominal\"]}}",
            " Produk (Rp)": "={{$json[\"Jumlah\"]}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Tanggal",
              "displayName": "Tanggal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": " Produk (Rp)",
              "displayName": " Produk (Rp)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Produk",
              "displayName": "Produk",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        496,
        160
      ],
      "id": "1cd21ce7-62ad-4383-bfe7-8500cbc968b8",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KTKIZdg0eKkoX2dY",
          "name": "Google Sheets account 6"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Grab",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tokopedia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tokopedia": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Grab": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2589bd03-5180-43e1-adad-c4c90dacf63a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cdda6c5a178fd429ae4e8a2b8a0fde1535e9d34e75c3c9330c0155f848e4432c"
  },
  "id": "ymG1MrUlPM74gzIP",
  "tags": []
}