Tugas 6 (1) Ai Keuangan.json
{
  "name": "Tugas 6 (1) Ai Keuangan",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        176,
        112
      ],
      "id": "75a2d69b-7913-47db-9e23-a526f6bb8258",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "WOfo1thGoyQF8lyB",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fa8e00e9-36c2-422e-846b-79a0cb446951",
              "leftValue": "={{ $json.From }}",
              "rightValue": "customer@bcainsurance.co.id",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "64cb401f-ea54-4506-96d7-88818bdd6413",
              "leftValue": "={{ $json.From }}",
              "rightValue": "haloblu@bcadigital.co.id",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "9a2fefb9-d911-41ee-8033-e1da5456ae99",
              "leftValue": "={{ $json.From }}",
              "rightValue": "customer@bcalife.co.id",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "3a398669-c3e0-412b-9c48-c8bfe648a9ad",
              "leftValue": "={{ $json.From }}",
              "rightValue": "recruitmentbcaf@bcaf.id",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        384,
        112
      ],
      "id": "5a62c4b0-2b98-4a56-878e-c795f8d132bf",
      "name": "Cek Allowist"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fa8e00e9-36c2-422e-846b-79a0cb446951",
              "leftValue": "={{ $json.score }}",
              "rightValue": 9,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1152,
        128
      ],
      "id": "a45cb134-6e66-443b-9c17-ebbef75ee2f7",
      "name": "Cek Skor Bahaya"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_6693075622150898356"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1360,
        32
      ],
      "id": "3daf8ed6-04e8-40e0-8873-1e6ff20dae05",
      "name": "Memberikan Label Otomatis",
      "webhookId": "a1335398-90ae-4b29-af44-ee8f717161e7",
      "credentials": {
        "gmailOAuth2": {
          "id": "ICoKI6xntVwG97Rh",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1766066504",
        "text": "=⚠️ Tinjauan Email Diperlukan ⚠️  Email ini TIDAK dihapus, tapi AI mendeteksinya. Mohon periksa secara manual.   - Skor AI: {{ $json.score }}/10  - Dari: {{ $('Gmail Trigger').item.json.From }} - Subjek: {{ $('Gmail Trigger').item.json.Subject }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1360,
        224
      ],
      "id": "17b32fb2-3b32-4407-b039-fd2dda65bcb0",
      "name": "Notif untuk Skor Rendah",
      "webhookId": "0775ff25-1462-4b98-a248-ef32c470ee63",
      "credentials": {
        "telegramApi": {
          "id": "UahRyZFBsiy5bt2B",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1766066504",
        "text": "=Ada email baru dari: {{ $('Gmail Trigger').item.json.From }}\nSubject: {{ $('Gmail Trigger').item.json.Subject }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        -80
      ],
      "id": "d762e716-4de6-4456-a831-1f0f9fd80fee",
      "name": "Reminder Email dari Allowist",
      "webhookId": "71a2b849-b992-4083-92dc-a5e965a872f5",
      "credentials": {
        "telegramApi": {
          "id": "UahRyZFBsiy5bt2B",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analisis teks email ini untuk tanda-tanda phishing keuangan. Fokus pada urgensi palsu, tautan mencurigakan, permintaan info pribadi, atau peniruan identitas bank. Beri skor bahaya dari 1 sampai 10. Jawab HANYA dengan format: 'Skor: [angka]'.\\n\\nEmail:{{ $json.snippet }}  Subject:{{ $json.Subject }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        608,
        128
      ],
      "id": "e1208733-7ae7-43b5-ab97-be51e17e1218",
      "name": "Analisa Phising"
    },
    {
      "parameters": {
        "jsCode": "// Ambil data dari node-node sebelumnya\n// $json.text adalah output dari Basic LLM Chain\nconst llmOutput = $json.text; \n\n// $json.id adalah Message ID yang datang dari \"Gmail Trigger\"\n// Node LLM Chain akan meneruskan data ini secara otomatis\nconst emailMessageId = $json.id; \n\n// Gunakan regex untuk menemukan \"Skor: [angka]\"\nconst match = llmOutput.match(/Skor:\\s*(\\d+)/);\n\nlet score = 0;\n\n// Jika ditemukan, ambil angkanya\nif (match && match[1]) {\n  score = parseInt(match[1], 10);\n}\n\n// Kembalikan skor DAN messageId untuk node IF dan Gmail\nreturn { \n  score: score,\n  messageId: emailMessageId \n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        128
      ],
      "id": "fe62dee8-698b-4910-bbd6-f47021a082bb",
      "name": "Ekstrak Skor dari Teks AI"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        544,
        336
      ],
      "id": "8bdbaf1f-b9c5-4120-b611-0ea84001ab84",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "4li5TqijaSjJVv1K",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Cek Allowist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cek Allowist": {
      "main": [
        [
          {
            "node": "Reminder Email dari Allowist",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analisa Phising",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cek Skor Bahaya": {
      "main": [
        [
          {
            "node": "Memberikan Label Otomatis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notif untuk Skor Rendah",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analisa Phising": {
      "main": [
        [
          {
            "node": "Ekstrak Skor dari Teks AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ekstrak Skor dari Teks AI": {
      "main": [
        [
          {
            "node": "Cek Skor Bahaya",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analisa Phising",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "da4a3f6e-989b-4771-aad0-a5f42297d1a1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cdda6c5a178fd429ae4e8a2b8a0fde1535e9d34e75c3c9330c0155f848e4432c"
  },
  "id": "MECcOe8vREWQr8BM",
  "tags": []
}