Tugas 3 Ai Keuangann.json
{
  "name": "Tugas 3 Ai Keuangann",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        112
      ],
      "id": "56cb3cdc-1b03-4866-953a-bd5e94e8b8bb"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1MrjwcpMk2Dum2nGAEQ7fx89nMPjx_k04JUOgbNAAADI",
          "mode": "list",
          "cachedResultName": "data dummy keuagan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MrjwcpMk2Dum2nGAEQ7fx89nMPjx_k04JUOgbNAAADI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 935739317,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MrjwcpMk2Dum2nGAEQ7fx89nMPjx_k04JUOgbNAAADI/edit#gid=935739317"
        },
        "options": {}
      },
      "name": "Sheet 1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        0,
        0
      ],
      "id": "14956482-c8cc-4d07-9fa2-86cc75d94c39",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KTKIZdg0eKkoX2dY",
          "name": "Google Sheets account 6"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1xFNtqb27YAMJJA_Jz5gwzJQpRbI6jGJc-14iaBZ9DHU",
          "mode": "list",
          "cachedResultName": "Dummy Keuangan 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xFNtqb27YAMJJA_Jz5gwzJQpRbI6jGJc-14iaBZ9DHU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1840720130,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xFNtqb27YAMJJA_Jz5gwzJQpRbI6jGJc-14iaBZ9DHU/edit#gid=1840720130"
        },
        "options": {}
      },
      "name": "Sheet 2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        0,
        208
      ],
      "id": "2d0ca3dc-948c-4d5b-9331-858855b37ea8",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KTKIZdg0eKkoX2dY",
          "name": "Google Sheets account 6"
        }
      }
    },
    {
      "parameters": {},
      "name": "Merge 1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        208,
        112
      ],
      "id": "7efd73b5-8c48-4710-b99b-dbced85907d3"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  item.json.Sumber = item.json['ID Laporan']?.startsWith('REP') ? 'Sheet1' : 'Sheet2';\n  return item;\n});"
      },
      "name": "Tambah Sumber (1&2)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        112
      ],
      "id": "8699c935-7ca2-43e4-9f81-971dc414f876"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1httiBy26ZQnFAKzTPKMdEDHAYnMafkjbLXWfV3B9Zvw",
          "mode": "list",
          "cachedResultName": "Dummy Keuangan 3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1httiBy26ZQnFAKzTPKMdEDHAYnMafkjbLXWfV3B9Zvw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 257652098,
          "mode": "list",
          "cachedResultName": "Sheet3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1httiBy26ZQnFAKzTPKMdEDHAYnMafkjbLXWfV3B9Zvw/edit#gid=257652098"
        },
        "options": {}
      },
      "name": "Sheet 3",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        0,
        352
      ],
      "id": "bff5972d-a3b3-41dd-b331-fe74bf379400",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KTKIZdg0eKkoX2dY",
          "name": "Google Sheets account 6"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => ({ json: {\n  'ID Laporan': item.json['ID Laporan'],\n  'Bulan': item.json.Bulan,\n  'Penjualan (Unit)': Number(item.json['Penjualan Harian']) || 0,\n  'Pendapatan (IDR)': Number(item.json['Total Penjualan (IDR)']) || 0,\n  'Sumber': 'Sheet3'\n}}));"
      },
      "name": "Transform Sheet 3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        352
      ],
      "id": "c17a3cda-0e96-492e-aa99-91bb630e9d1e"
    },
    {
      "parameters": {},
      "name": "Gabung Semua",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        608,
        208
      ],
      "id": "15a64f3a-9fc2-4f7c-803d-2b1b442714fd"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "ID Laporan",
        "options": {}
      },
      "name": "Remove Duplicate",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        800,
        208
      ],
      "id": "1c217f06-f807-4588-86c4-6a70cd40b6cd"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all().map(i => i.json);\nconst bulan = new Date().toLocaleString('id-ID',{month:'long'});\nconst filtered = data.filter(d => (d.Bulan||'').toLowerCase() === bulan.toLowerCase());\n\nlet totalUnit = 0, totalPendapatan = 0;\nfiltered.forEach(d => {\n  totalUnit += d['Penjualan (Unit)'] || 0;\n  totalPendapatan += d['Pendapatan (IDR)'] || 0;\n});\n\nconst jumlah = filtered.length;\n\nreturn [{ json: {\n  Bulan: bulan,\n  Tahun: new Date().getFullYear(),\n  Jumlah_Laporan: jumlah,\n  Total_Penjualan_Unit: totalUnit,\n  Total_Pendapatan_IDR: totalPendapatan,\n  Rata_Rata_Penjualan_Per_Laporan: jumlah ? totalUnit/jumlah : 0,\n  Rata_Rata_Pendapatan_Per_Laporan: jumlah ? totalPendapatan/jumlah : 0\n}}];"
      },
      "name": "Generate Laporan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        208
      ],
      "id": "aa1e044c-baf3-4245-8b4c-05454b907d3b"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1p0dS-1uccsSXt3jRGxh1I1Q4I4pCEZ4nKQxuGhnutpc",
          "mode": "list",
          "cachedResultName": "dummy laporan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1p0dS-1uccsSXt3jRGxh1I1Q4I4pCEZ4nKQxuGhnutpc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1p0dS-1uccsSXt3jRGxh1I1Q4I4pCEZ4nKQxuGhnutpc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Bulan",
              "displayName": "Bulan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tahun",
              "displayName": "Tahun",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Jumlah_Laporan",
              "displayName": "Jumlah_Laporan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total_Penjualan_Unit",
              "displayName": "Total_Penjualan_Unit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total_Pendapatan_IDR",
              "displayName": "Total_Pendapatan_IDR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rata_Rata_Penjualan_Per_Laporan",
              "displayName": "Rata_Rata_Penjualan_Per_Laporan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rata_Rata_Pendapatan_Per_Laporan",
              "displayName": "Rata_Rata_Pendapatan_Per_Laporan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sumber_Data",
              "displayName": "Sumber_Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Terakhir_Diperbarui",
              "displayName": "Terakhir_Diperbarui",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1440,
        0
      ],
      "id": "7f8ba776-711e-4ca7-a17f-b58516f7d650",
      "name": "Laporan Bulanan",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KTKIZdg0eKkoX2dY",
          "name": "Google Sheets account 6"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1766066504",
        "text": "=📊 *Laporan Bulanan — {{$json.Bulan}} {{$json.Tahun}}*  ✅ *Jumlah Laporan*: {{$json.Jumlah_Laporan}} 📦 *Penjualan Total*: {{$json.Total_Penjualan_Unit}} unit 💰 *Pendapatan*: Rp{{ $json.Total_Pendapatan_IDR }}  📈 *Rata-rata Penjualan*: {{$json.Rata_Rata_Penjualan_Per_Laporan}} unit/laporan",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1440,
        208
      ],
      "id": "9e81bad7-c112-44ac-a934-ce8ae028f48b",
      "name": "Send a text message",
      "webhookId": "89fef5d0-696c-4ae2-8bff-7d7260be97fb",
      "credentials": {
        "telegramApi": {
          "id": "UahRyZFBsiy5bt2B",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "gilangpratama1533@gmail.com",
        "subject": "Laporan Bulanan",
        "message": "=<!DOCTYPE html> <html> <head>   <style>     body { font-family: Arial, sans-serif; line-height: 1.6; }     .header { background: #0d47a1; color: white; padding: 15px; text-align: center; }     .content { padding: 20px; }     .metric { margin: 8px 0; font-weight: bold; }     .highlight { color: #1976d2; }   </style> </head> <body>   <div class=\"header\">     <h2>📊 Laporan Bulanan</h2>     <p>{{ $json.Bulan }} {{ $json.Tahun }}</p>   </div>   <div class=\"content\">     <p>Halo Tim,</p>     <p>Berikut ringkasan laporan bulanan dari data gabungan (Sheet 1, 2, dan 3):</p>          <div class=\"metric\">✅ Jumlah Laporan: <span class=\"highlight\">{{ $json.Jumlah_Laporan }}</span></div>     <div class=\"metric\">📦 Total Penjualan: <span class=\"highlight\">{{ $json.Total_Penjualan_Unit }} unit</span></div>     <div class=\"metric\">💰 Total Pendapatan: <span class=\"highlight\">Rp{{ $json.Total_Pendapatan_IDR }}</span></div>     <div class=\"metric\">📈 Rata-rata Penjualan/Laporan: <span class=\"highlight\">{{ $json.Rata_Rata_Penjualan_Per_Laporan }} unit</span></div>          <p>🔗 <a href=\"https://docs.google.com/spreadsheets/d/1XgSB7caGKoqvUDOu00fJljwLOxscyEmvxuzQWkVJiFU/edit?usp=sharing/d/...\">Lihat Master Sheet</a> | <a href=\"https://docs.google.com/spreadsheets/d/1XgSB7caGKoqvUDOu00fJljwLOxscyEmvxuzQWkVJiFU/edit?usp=sharing/...\">Lihat Laporan Bulanan</a></p>            </div> </body> </html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1440,
        416
      ],
      "id": "c442fbbb-7ebb-4667-9201-5833049f3c03",
      "name": "Send a message",
      "webhookId": "ac50d6dc-076d-42db-9a57-520a890e4d65",
      "credentials": {
        "gmailOAuth2": {
          "id": "ICoKI6xntVwG97Rh",
          "name": "Gmail account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Sheet 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sheet 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sheet 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheet 1": {
      "main": [
        [
          {
            "node": "Merge 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheet 2": {
      "main": [
        [
          {
            "node": "Merge 1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge 1": {
      "main": [
        [
          {
            "node": "Tambah Sumber (1&2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tambah Sumber (1&2)": {
      "main": [
        [
          {
            "node": "Gabung Semua",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheet 3": {
      "main": [
        [
          {
            "node": "Transform Sheet 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Sheet 3": {
      "main": [
        [
          {
            "node": "Gabung Semua",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Gabung Semua": {
      "main": [
        [
          {
            "node": "Remove Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicate": {
      "main": [
        [
          {
            "node": "Generate Laporan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Laporan": {
      "main": [
        [
          {
            "node": "Laporan Bulanan",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "24403eb2-1a37-4f03-be75-1df686ef56cf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cdda6c5a178fd429ae4e8a2b8a0fde1535e9d34e75c3c9330c0155f848e4432c"
  },
  "id": "xb9JMS6HegjwUvxf",
  "tags": []
}