Tugas 4 Ai Keuangan (1).json
{
  "name": "Tugas 4 Ai Keuangan",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const d = item.json;\n\n  const text = `📊 LAPORAN MATCHED\\n\\n📅 Tanggal: ${d.tanggal}\\n💰 Nominal: Rp ${Number(d.nominal || 0).toLocaleString('id-ID')}\\n\\n✅ Status: ${d.status || '-'}\\n📌 Ket: ${d.pesan || '-'}\\n\\n🔍 Ref Internal: ${d.ref_internal || '-'}\\n🏦 Ref Bank: ${d.ref_bank || '-'}\\n\\nℹ️ Desc: ${d.deskripsi || '-'}`;\n\n  return { json: { text } };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        0
      ],
      "name": "Summary TRUE",
      "id": "d93c65fb-e0f9-40a2-9f5c-44eea95967a1"
    },
    {
      "parameters": {
        "chatId": "1766066504",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1056,
        0
      ],
      "name": "Send Telegram TRUE",
      "id": "a59f8f58-8c2c-4ccd-8bfc-62637f403b33",
      "webhookId": "70075995-bed0-4e63-af11-dc153962b3d4",
      "credentials": {
        "telegramApi": {
          "id": "UahRyZFBsiy5bt2B",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        800,
        176
      ],
      "name": "Delay FALSE",
      "id": "895e44ea-aab1-4f5e-9230-0adca316848a",
      "webhookId": "3542ec68-68dc-4fc1-992b-5ef75be53be3"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const d = item.json;\n\n  const text = `📊 LAPORAN SELISIH KEUANGAN\\n\\n📅 Tanggal: ${d.tanggal}\\n💰 Nominal: Rp ${Number(d.nominal || 0).toLocaleString('id-ID')}\\n\\n⚠️ Status: ${d.status || '-'}\\n📌 Ket: ${d.pesan || '-'}\\n\\n🔍 Ref Internal: ${d.ref_internal || '-'}\\n🏦 Ref Bank: ${d.ref_bank || '-'}\\n\\nℹ️ Desc: ${d.deskripsi || '-'}`;\n\n  return { json: { text } };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        176
      ],
      "name": "Summary FALSE",
      "id": "ba8586ee-e108-4e25-b75a-8f89218d1058"
    },
    {
      "parameters": {
        "chatId": "1766066504",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1136,
        176
      ],
      "name": "Send Telegram FALSE",
      "id": "8236e572-240e-4ebc-86fb-7b93acbbc7f7",
      "webhookId": "afafebe5-164c-4c1f-8ef3-2dabdba891ad",
      "credentials": {
        "telegramApi": {
          "id": "UahRyZFBsiy5bt2B",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1pFiD_6ALaIqR1x5M0eZPJrwUuM53kI6MPzMgw3gU1Js",
          "mode": "list",
          "cachedResultName": "Dummy Rekonsiliasi",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pFiD_6ALaIqR1x5M0eZPJrwUuM53kI6MPzMgw3gU1Js/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pFiD_6ALaIqR1x5M0eZPJrwUuM53kI6MPzMgw3gU1Js/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        0,
        0
      ],
      "name": "Get Internal Data1",
      "id": "bb4bc4ee-bf72-4c26-a5f9-ae45b1ea00a0",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KTKIZdg0eKkoX2dY",
          "name": "Google Sheets account 6"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1_lpME3F4duw-gKrw-LjNbmdRvkocXBOK",
          "mode": "list",
          "cachedResultName": "Dummy Rekonsiliasi - Sheet2.csv",
          "cachedResultUrl": "https://drive.google.com/file/d/1_lpME3F4duw-gKrw-LjNbmdRvkocXBOK/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        224
      ],
      "name": "Download Bank CSV1",
      "id": "42dbdf7c-5a18-4f3c-8cc3-efe2062d4cf5",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MEYipMlSWNxNmewP",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "headerRow": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        208,
        224
      ],
      "name": "Parse CSV1",
      "id": "4ce4245f-8b48-4615-8318-7cbece925f06"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  let tgl = item.json[\"Tanggal Transaksi\"];\n  let nominal = item.json[\"Jumlah (IDR)\"];\n\n  let parts = String(tgl || '').split('/');\n  if (parts.length !== 3) return null;\n\n  let cleanDate = `${parts[2]}-${parts[1]}-${parts[0]}`;\n  let cleanAmount = Number(String(nominal).replace(/\\D/g,'')) || 0;\n\n  return {\n    json: {\n      source: 'INTERNAL',\n      id_referensi: item.json[\"ID Referensi\"] || '-',\n      tanggal: cleanDate,\n      nominal: cleanAmount,\n      match_key: cleanDate + '_' + cleanAmount,\n      deskripsi: item.json[\"Deskripsi\"] || '-',\n      status_internal: item.json[\"Status\"] || '-'\n    }\n  };\n}).filter(Boolean);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        0
      ],
      "name": "Format Internal1",
      "id": "12522342-295c-4ae4-88eb-b7f75ee4070c"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  let tgl = item.json[\"Tanggal Bank\"];\n  let nominal = item.json[\"Jumlah (IDR)\"];\n\n  let parts = String(tgl || '').split('/');\n  if (parts.length !== 3) return null;\n\n  let cleanDate = `${parts[2]}-${parts[1]}-${parts[0]}`;\n  let cleanAmount = Number(String(nominal).replace(/\\D/g,'')) || 0;\n\n  return {\n    json: {\n      source: 'BANK',\n      id_referensi: item.json[\"ID Referensi\"] || '-',\n      tanggal: cleanDate,\n      nominal: cleanAmount,\n      match_key: cleanDate + '_' + cleanAmount,\n      deskripsi: item.json[\"Deskripsi Transaksi\"] || '-',\n      status_bank: item.json[\"Status\"] || '-'\n    }\n  };\n}).filter(Boolean);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        224
      ],
      "name": "Format Bank1",
      "id": "b1d4e596-d74b-45c5-8890-5a4b421047fe"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        368,
        16
      ],
      "name": "Merge Data1",
      "id": "16a8ca1b-5fb7-4acc-8ed5-eba44a38b6cf"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst grouped = {};\n\nfor (const item of items) {\n  const key = item.json.match_key;\n  if (!grouped[key]) grouped[key] = [];\n  grouped[key].push(item.json);\n}\n\nlet results = [];\n\nfor (const key in grouped) {\n  const group = grouped[key];\n\n  const internal = group.find(x => x.source === 'INTERNAL');\n  const bank = group.find(x => x.source === 'BANK');\n\n  let status = '';\n  let pesan = '';\n\n  if (internal && bank) {\n    status = 'MATCHED';\n    pesan = '✅ Cocok';\n  } else if (internal && !bank) {\n    status = 'UNRECORDED BANK';\n    pesan = '⚠️ Tidak ada di Bank';\n  } else if (!internal && bank) {\n    status = 'UNRECORDED INTERNAL';\n    pesan = '⚠️ Tidak ada di Internal';\n  }\n\n  const ref = internal || bank;\n\n  results.push({\n    json: {\n      type: status === 'MATCHED' ? 'TRUE' : 'FALSE',\n      status,\n      pesan,\n      tanggal: ref?.tanggal || '-',\n      nominal: ref?.nominal || 0,\n      ref_internal: internal?.id_referensi || '-',\n      ref_bank: bank?.id_referensi || bank?.deskripsi || '-',\n      deskripsi: ref?.deskripsi || '-'\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        16
      ],
      "name": "Rekonsiliasi1",
      "id": "fe5c907a-dcd9-4f2b-ba2b-dfcd77409a53"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.type }}",
              "rightValue": "TRUE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        672,
        16
      ],
      "name": "IF Status1",
      "id": "09990fc4-cb89-47a0-ba9d-c985f5bcc4e1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -224,
        128
      ],
      "id": "b4083938-0278-486f-941a-47c68895afef",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Summary TRUE": {
      "main": [
        [
          {
            "node": "Send Telegram TRUE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay FALSE": {
      "main": [
        [
          {
            "node": "Summary FALSE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary FALSE": {
      "main": [
        [
          {
            "node": "Send Telegram FALSE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Internal Data1": {
      "main": [
        [
          {
            "node": "Format Internal1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Bank CSV1": {
      "main": [
        [
          {
            "node": "Parse CSV1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse CSV1": {
      "main": [
        [
          {
            "node": "Format Bank1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Internal1": {
      "main": [
        [
          {
            "node": "Merge Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Bank1": {
      "main": [
        [
          {
            "node": "Merge Data1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Data1": {
      "main": [
        [
          {
            "node": "Rekonsiliasi1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rekonsiliasi1": {
      "main": [
        [
          {
            "node": "IF Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Status1": {
      "main": [
        [
          {
            "node": "Summary TRUE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delay FALSE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Internal Data1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download Bank CSV1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e05a43b8-fc80-41fb-9419-028f718322b6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cdda6c5a178fd429ae4e8a2b8a0fde1535e9d34e75c3c9330c0155f848e4432c"
  },
  "id": "uzsYDE7CT6kMkIGX",
  "tags": []
}